<!-- Footer -->
<footer class="container-fluid page-footer font-small">
  <div class="row">
    <div class="col-1 col-sm-1"></div>
    <div class="col-10 col-sm-10">
      <div class="informacije">
        <label style="font-weight: bolder; font-size: 17px; padding-bottom: 16px;">INFORMACIJE</label>  
        <br>
        Ulaznice možete da rezervišete online putem. 
        <br><br>
        Radno vreme blagajni: 
        <br>
        Prve projekcije radnim danom počinju u 15h ili 16h (zavisi o bioskopu), a poslednje počinju do 23h. 
        <br> 
        Prve projekcije vikendom i praznicima počinju u 11h, a poslednje do 23h. Kinoteatar Barovi su otvoreni i rade svaki dan.
        <br>
        <br>
        e-mail kontakt za opšte informacije: info.rs@kinoteatar.eu
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a> Univerzitet u Beogradu - Elektrotehnički fakultet</a>
      </div>
    </div>
    <!-- Copyright -->
    <div class="col-1 col-sm-1 drMreze" style="margin: 0px; padding: 0px;">
      <div class="kolona">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a> 
        <a href="https://www.twitter.com/" class="fa fa-twitter"></a>    
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a> 
        <a href="https://www.google.com/" class="fa fa-google"></a> 
      </div>
    </div>
  </div>
  </footer>
  <!-- Footer -->